<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No User Found</title>
    <link rel="stylesheet" href="../CSS/styles4.css">
        
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
    <header>
        <div class="user-actionsLogout">
            
        </div>
    </header>

    <main>
        
        <div class="container">
        <section class="Login">
            
            <h2><u>WARNING</u></h2>

             <!-- Updated action to /logout -->
                <div class="Logout">
                    <h1>You Have Selected An Invalid Role For Your Account!</h1><br>
                    <h4>Please Check Your Login Credentials And Login Again</h4>
                </div>

                <div class="buttons">
                    <button class="backBtn" onclick="window.location.href='/Login'">
                        <i class="uil uil-navigator"></i>
                        <span class="btnText">Back to Login</span>
                   <!---- <a href="/Login">Click Here To Login Again</a> -->
                </div>
            </div>
        
        </section>
    
    </main>
</body>
</html>
