<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No User Found</title>
    <link rel="stylesheet" type="text/css" href="../CSS/styles4.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
    <header>
        <div class="user-actionsLogout">
            
        </div>
    </header>

    <main>
        <div class="container">
        <section class="Login">
            <h2><u>WARNING</u></h2>

             <!-- Updated action to /logout -->
                <div class="Logout">
                    <h1>Your Account Is Currently Suspended!</h1><br>
                    <h3>Contact <a href="/enquiry">EmpRoster</a> To Understand More...</h3>
                </div>

                <div class="buttons">
                    <button class="backBtn" onclick="window.location.href='/Login'">
                        <i class="uil uil-navigator"></i>
                        <span class="btnText">Back to Login</span>
                   <!---- <a href="/Login">Click Here To Login Again</a> -->
                </div>
            </div>
           
        </section>
    </main>
   
