<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No User Found</title>
    <link rel="stylesheet" type="text/css" href="../CSS/styles4.css">
</head>

<body>
    <header>
        <div class="user-actionsLogout">
            
        </div>
    </header>

    <main>
        <div class="container">
        <section class="Login">
            <h2><u>WARNING</u></h2>

             <!-- Updated action to /logout -->
                <div class="Logout">
                    <h1>UEN already exists under another registered company!</h1><br>
                    <h4>Please Check Registration Details Again</h4>
                </div>

              
                    <div class="buttons">
                        <button class="backBtn" onclick="window.location.href='/registration'">
                            <i class="uil uil-navigator"></i>
                            <span class="btnText">Click Here To Register Again</span>
                     
                    </div>
                    <!--<a href="/registration">Click Here To Register Again</a>-->
                </div>
            </div>
            
        </section>
    </main>
   
