* { 
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  font-family: 
     Arial; 
} 
 
nav { 
  height: 80px; 
  background: #fdcc04; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0rem calc((100vw - 1300px) / 2); 
} 
 
.logo { 
  color: #000; 
  font-size: 2.0rem; 
  font-weight: bold; 
  font-style: italic; 
  padding: 0 2rem; 
} 
 
nav a { 
  text-decoration: none; 
  color: #000; 
  padding: 0 1.3rem; 
} 
 
nav a:hover { 
  color: #fff; 
} 
 
.hero { 
  background: #fdcc04; 
} 
 
.hero-container { 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  height: 80vh; 
  padding: 3rem calc((100vw - 1300px) / 2); 
} 
 
.column-left { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
  color: #000; 
  padding: 0rem 2rem; 
} 
 
.column-left h1 { 
  margin-bottom: 1rem; 
  font-size: 3rem; 
} 
 
.column-left p { 
  margin-bottom: 2rem; 
  font-size: 1.5rem; 
  line-height: 1.5; 
} 
 
button { 
  padding: 15px 20px; 
  font-size: 1rem; 
  border: none; 
  color: #fdcc04; 
  background: #000; 
  cursor: pointer; 
  border-radius: 50px;
  width:100px;
} 
 
button:hover { 
  background: #fff; 
  color: #fdcc04; 
} 
 
.column-right { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 0rem 2rem; 
} 
 
.hero-image { 
  width: 100%; 
  height: 100%; 
} 
 
@media screen and (max-width: 768px) { 
  .hero-container { 
    grid-template-columns: 1fr; 
  } 
} 

 /* Header Styles */
 header {
  background: #fdcc04;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
}
    
    /* Main Content Styles  needs changes */  
    .main {
      background: #fff; /* Changed to yellow */
      padding: 5rem;
    }
  
    .enquires {
      text-align: center;
      padding: 2rem;
      border-radius:5px;
      box-shadow: 0 0px 7px rgba(0, 0, 0, 0);
      background-color: rgba(255, 255, 255, 0); /* Adjust the last value (0.7) to control transparency */
    }
    
    
    
    
   
    
  
    /* Table Styles */
     
    table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 5px;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
      position: relative;
      z-index: 1; /* To make the table appear on top of the background */
    
    }
    
    table th, table td {
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid #808080;
      transition: background 0.3s;
      background: rgba(255, 255, 255, 0.7); /* Transparent white background */
      color: #333; /* Default text color for table cells */
    }
    
    table th {
      background: #fdcc04;
      color: #000;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:hover {
      background: #808080; /* Highlight columns on hover */
      color: #000;
    }
    
    table th:hover {
      background: #fdcc04; /* Highlight columns on hover */
      color: #000;
    }
    
    /* Add responsiveness for smaller screens */
    @media (max-width: 768px) {
      table {
        display: block;
      }
    
      table th, table td {
        white-space: nowrap;
      }
    }
  
    
    
  
    
    /* Add media query for responsiveness */
    @media (max-width: 768px) {
      .demployee_update_accounts {
        max-width: 95%; /* Adjust the width for smaller screens */
      }
    }
  
    /* Set the background image for the section behind the container */
  body {
    /*background: url('/Images/a.jpeg') center / cover;
    background-attachment: fixed;*/
    background: url('/Images/yellow.jpg');
    background-size: 2000px;
    backdrop-filter: blur(3px);
    
  }

  #msform {
    width: 800px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    height:500px;
    margin-top:20px;
    
  }
  #msform fieldset {
    background: #fff;
    
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.6);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    
    /*stacking fieldsets above each other*/
    position: relative;
  }
  /*Hide all except first fieldset*/
  #msform fieldset:not(:first-of-type) {
    display: none;
  }
    
  /*inputs*/
  #msform input, #msform textarea {
    padding: 20px;
    border: 2px solid #808080;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 90%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 20px;
  }
  
  
  /*buttons*/
  #msform .action-button {
    padding: 1rem 3rem; 
    font-size: 1rem; 
    border: none; 
    color: #fdcc04; 
    background: #000; 
    cursor: pointer; 
    border-radius: 20px; 
    width:47%;
    padding:20px;
    
    
  }
  #msform .action-button:hover, #msform .action-button:focus {
    background:#fff;
    color:#fdcc04;
  }
  /*headings*/
  .fs-title {
    font-size: 25px;
    color: #000;
    margin-bottom: 30px;
    margin-top: 20px;
    font-style:italic;
    text-align: left;
    position: relative;
    }
    
    .fs-title::after {
    content: '';
    display: block;
    width: 20%;
    height: 3px; /* Increased line thickness */
    background-color: #fdcc04; /* You can change the color if needed */
    position: absolute;
    bottom: 0;
    left: 0;
    }
    
  
  





  /*progressbar*/
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
  }
  #progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    margin-left:20px;
  }
  #progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
  }
  /*progressbar connectors*/
  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
  }
  #progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
  }
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  #progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
  }
  
  
  .input-container {
    position: relative;
    }
    
     input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #808080;
    border-radius: 6px;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    color: #2C3E50;
    }
    
    .message {
    display: none;
    color: #000; /* Set the color for the message */
    font-size: 20px;
    margin-top: 10px;
    margin-bottom:20px; 
    font-style: italic;
  
    }
    
  
    

  
  /* Style the label */
  .input-container label {
      font-weight: bold; /* Make the label text bold */
      color: #000; /* Text color */
      margin-right: 10px; 
    font-size:20px;
  }

    

  

    


/* Style for the input */
.input-container-project input {
  /* Add your input styles here */
/* Display input inline as an inline-block element */
width: 50%; /* Set a specific width or adjust as needed */
height: 40px; /* Set a specific height or adjust as needed */
text-align: center; 
border:2px #808080;
}  

.input-container-project label {
    font-weight: bold; /* Make the label text bold */
    color: #000;
    font-size: 20px;
  
    display: inline-block; /* Display label inline */
    margin-right: 10px;
    margin-top:10px; /* Add some margin to separate label and input */
}



.input-container-project-skill-pax-add select {

  background-color: #000;
	color: #fff;
	padding: 50px;
	width: 300%;
	font-weight:bold;
	text-transform:uppercase;
	border: 2px solid #808080;
	border-radius: 5px;
	cursor: pointer;
	text-align:center;
  margin-bottom:10px;

	
  }

  .input-container-project-skill-pax-add select{
    margin-top: 10px; /* Add margin between the two select elements */
}

  .input-container-project-skill-pax-add select ::after{

  content: '\25BC'; /* Unicode character for a downward arrow */
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;
	color: #fff;
   
  }
  

    .input-container-project-skill-pax-add select{

  width: 300%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	background-color: #000;
	color: #fff;
  }


    .input-container-project-skill-pax-add select :hover{

     border-color:#000;
    }

    .input-container-project-skill-pax-add option[selected]{

      background-color: #000;
  }




 /*.input-container-project-manpower input {
  
    width: 30%; /* Set a small width for the input */
 /*   height: 20px; /* Set a small height for the input */
  /*  border: 1px solid #333;
    padding: 2px;
   text-align:center;
  } /* Adjust the padding to your preference */
            

    #pax {
      width: 30%; /* Adjust the width to make it smaller */
     padding: 5px; /* Decrease the padding for a smaller input */
   border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px; /* Reduce the font size for a smaller input */
     outline: none;
      text-align: left;
      margin-top: 20px;
    }
    

#pax::placeholder {
  color: #808080;
}



 