<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EmpRoster Plans Page</title>
        <link rel="stylesheet" href="../CSS/styles.css">
    </head>

    <body>
        <header>
            <div class="user-actions">
                <a>EmpRoster</a>
                <a href="/Login" class="login-btn">Login</a>
                <a href="/registration" class="register-btn">Register Account</a>
            </div>
            
            <nav>
                <ul>
                    <a href="/">Product</a>
                    <a href="/plans">Plans</a>
                    <a href="/emproster">EmpRoster</a>
                    <a href="/enquiry">Enquiry</a>
                    <a href="reviews">Reviews</a>
                </ul>
            </nav>

        </header>

        <!-- MAIN CONTENT SECTION -->
        <main>
            <p class = "review-head">Product Plans</p>
            <section class="plans">
                <div class="plan">
                    <div class="plan-content">
                        <ul>
                            <li class="TierTitle"><a>Bronze Tier<br>$9.99</a></li>
                            <li><a>Automated scheduling</a></li>
                            <li><a>Notice board</a></li>
                            <li><a>1 - 25 pax</a></li>
                            <li><a>1 - 10 projects</a></li>
                        </ul>
                    </div>
                    <a href="/registration" class="bronze-btn">BUY NOW</a>
                </div>
              
                <div class="plan">
                    <div class="plan-content">
                        <ul>
                            <li class="TierTitle"><a>Silver Tier<br>$24.99</a></li>
                            <li><a>Automated scheduling</a></li>
                            <li><a>Notice board</a></li>
                            <li><a>Leave requests</a></li>
                            <li><a>Project notice board</a></li>
                            <li><a>Manual scheduling changes</a></li>
                            <li><a>1 - 50 pax</a></li>
                            <li><a>1 - 25 projects</a></li>
                        </ul>
                    </div>
                    <a href="/registration" class="silver-btn">BUY NOW</a>
                </div>
              
                <div class="plan">
                    <div class="plan-content">
                        <ul>
                            <li class="TierTitle"><a>Gold Tier<br>$34.99</a></li>
                            <li><a>Automated scheduling</a></li>
                            <li><a>Notice board</a></li>
                            <li><a>Leave requests</a></li>
                            <li><a>Project notice board</a></li>
                            <li><a>Manual scheduling changes</a></li>
                            <li><a>Integration of payroll</a></li>
                            <li><a>Report generation</a></li>
                            <li><a>Time tracking (employee clock-in/clock-out)</a></li>
                            <li><a>1 - Unlimited pax</a></li>
                            <li><a>1 - Unlimited projects</a></li>
                        </ul>
                    </div>
                  <a href="/registration" class="gold-btn">BUY NOW</a>
                </div>
            </section>  
        </main>
          
        <!-- FOOTER SECTION -->
        <footer>
            <p>&copy; 2023 EmpRoster</p>
        </footer>
    </body>
</html>
