<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../CSS/styles.css">
        <title>CA About Us</title>
    </head>

    <body>
        <header>
            <div class="user-actionsCA">
                
               
            </div>
    
            <nav>
                <ul>
                    <a href="/CompanyAdmin/projectview">Projects</a>
                    <a href="/CompanyAdmin/employeeview">Department Managers</a>
                    <a href="/CompanyAdmin/ViewAllEmployee">Employees</a>  
                    <a href="/CompanyAdmin/companyview">Company</a>
                    <a href="/CompanyAdmin/enquiry">Enquiry</a>
                    <a href="/CompanyAdmin/reviews">Reviews</a>
                    <a href="/CompanyAdmin/profileview" class="Profile-btn" id="Profile-btn">Profile</a> 
                    <a href="/Logout"class="logout-btn" id="logout-btn">Logout</a> 
                </ul>
            </nav>
        </header>

        <!-- MAIN CONTENT SECTION -->
        <main>
            <section class="about_us">
                <div class="about-us-poster">
                    <img src="../Images/EmpRosterLogo.jpg" alt="Key features and why it will help to improve your business">
                </div>
            
                <p class="lead">EmpRoster is a leading schedule rostering solution provider based in Singapore. With our expertise and innovative technology, we help businesses streamline their scheduling processes, saving them time and effort.</p>
            
                <p class="lead">Our user-friendly platform allows organizations to efficiently manage their workforce, ensuring optimal staffing levels and improved productivity. Whether you are a small business or a large enterprise, EmpRoster is here to simplify your rostering needs and empower your team to focus on what they do best.</p>
            
                <p class="leadInfo">Contact Number : +65 98457352</p>
                <p class="leadInfo">Email : DarrelHo@hotmail.com</p>
                <p class="leadInfo">Address : 81 Victoria Street Singapore</p>

                <p class="leadTeam">Meet The Team</p>

                <div class="content-container">
                    
                    <div class="poster">
                        <img src="../Images/d.jpeg" alt="Darrel Ho Guo Ming">
                    </div>

                    <div class="poster">
                        <ul>
                            <li>Darrel Ho Guo Ming</li>
                            <li>Team Leader</li>
                            <li>dgho001@mymail.sim.edu.sg</li>
                            <li>I'm Darrel Ho, the project lead for this team at EmpRoster. As a student of Computer Science majoring in Cyber Security at the Singapore Institute of Management (SIM), I bring knowledge in Python, Java, C++, and PHP to our team.
                                At EmpRoster, our goal is to simplify employee scheduling, streamline processes, and anything else to do with time scheduling and rostering. With my versatile skill set, I am committed to delivering a high-quality web application that meets your needs.
                                Stay connected through this website for updates on our progress and key milestones. Together, we'll revolutionize workforce management with cutting-edge technology and a strong understanding of what our clients want!
                            </li>    
                            <li>Leave Days: NIL</li>
                                
                            <li>Overseas Days: NIL</li>
                            
                            
                        </ul>

                    </div>
                </div>

                <div class="content-container">
                    
                    <div class="poster">
                        <img src="../Images/r.jpeg" alt="Goh Zi Rong">
                    </div>

                    <div class="poster">
                        <ul>
                            <li>Goh Zi Rong</li>
                            <li>Team Member</li>
                            <li>zrgoh003@mymail.sim.edu.sg</li>
                            <li>
                                I'm Goh Zi Rong, and I'm currently pursuing a degree in the Singapore Institute of Management's Bachelor of Business Information System program. 
                                I'm on the EmpRoster and have experience with Python, Java, C++, MySQL, and PHP. 
                                The goal of EmpRoster is to lessen the hassles that companies and employees have when it comes to making work schedules. 
                                My job is to design a user-friendly, aesthetically pleasing website with the necessary main elements for our customers.
                                Do follow this website for any updates and significant milestones as we move on with the project. Cheers!
                            </li>    
                            <li>Leave Days: NIL</li>
                                
                            <li>Overseas Days: NIL</li>
                            
                            
                        </ul>

                    </div>
                </div>

                <div class="content-container">
                    
                    <div class="poster">
                        <img src="../Images/a.jpeg" alt="Ang Wei Choon">
                    </div>

                    <div class="poster">
                        <ul>
                            <li>Ang Wei Choon</li>
                            <li>Team Member</li>
                            <li>wcang007@mymail.sim.edu.sg</li>
                            <li>
                                I am Ang Wei Choon, a project member at team EmpRoster. I am currently an undergraduate at Singapore Institute of Management(SIM), university of Wollongong majoring in computer science, 
                                cybersecurity and big data.  I am able to contribute to the team with my knowledge on Java, HTML and PHP. Likewise I’ll also be helping with the project blog website for the team.
                                At EmpRoster, I’ll be updating the project as frequently and as accurate as possible in our project blog. 
                                Do stay tuned for the latest updates on our progress and stay with us to see how we could make a change in the workforce management.
                            </li>    
                            <li>Leave Days: NIL</li>
                                
                            <li>Overseas Days: 19 Oct 2023 to 23 Oct 2023</li>
                            
                            
                        </ul>

                    </div>
                </div>

                <div class="content-container">
                    
                    <div class="poster">
                        <img src="../Images/j.jpeg" alt="​Jameela Farveen Binte Mohamed Ansari">
                    </div>

                    <div class="poster">
                        <ul>
                            <li>​Jameela Farveen Binte Mohamed Ansari</li>
                            <li>Team Member</li>
                            <li>jameelaf001@mymail.sim.edu.sg</li>
                            <li>
                                I’m Jameela Farveen, a project member at EmpRoster. In Singapore Institute of Management, I'm studying Computer Science with a focus on Cyber Security. 
                                I bring knowledge in Python, Java and HTML expertise to our team. I’ll also be helping with the documentation and take down minutes of meetings. 
                                EmpRoster's objective is to simplify employee scheduling, speed up operations, and handle everything else related to time scheduling and rostering. 
                                With a diverse skill set, I am dedicated to developing a high-quality web application that fits your requirements.
                                Stay tuned to our website for progress updates and critical milestones.
                            </li>    
                            <li>Leave Days: NIL</li>
                                
                            <li>Overseas Days: NIL</li>
                            
                            
                        </ul>

                    </div>
                </div>

                <div class="content-container">
                    
                    <div class="poster">
                        <img src="../Images/h.jpeg" alt="Huang Weibin">
                    </div>

                    <div class="poster">
                        <ul>
                            <li>Huang Weibin</li>
                            <li>Team Member</li>
                            <li>whuang036@mymail.sim.edu.sg</li>
                            <li>
                                I am Huang Weibin, a project member at Team EmpRoster. 
                                I am currently pursuing my undergraduate degree in Business Information Systems at Singapore Institute of Management (SIM), affiliated with the University of Wollogong. 
                                With knowledge in Java, C#, and PHP, I aim to leverage my technical expertise to provide valuable support to our team. As a member of EmpRoster, 
                                I am actively involved in various aspects of the project's development. Furthermore, I am contributing to the continuous integration and deployment (CI/CD) pipeline, 
                                streamlining our development processes and ensuring seamless delivery of updates and enhancements. At Team EmpRoster, our collective goal is to drive the success of 
                                this project. Through open communication, collaboration, and leveraging our diverse skill sets, we aim to create a solution that exceeds expectations. 
                                We invite you to follow our website to stay informed about the latest updates as we progress towards our shared vision. 
                                Thank you for your support, and we look forward to delivering an exceptional experience with EmpRoster.
                            </li>    
                            <li>Leave Days: NIL</li>
                                
                            <li>Overseas Days: NIL</li>
                            
                            
                        </ul>

                    </div>
                </div>

                
            </section>
        </main>
          
          

        <!-- FOOTER SECTION -->
        <footer>
            <p>&copy; 2023 EmpRoster</p>
        </footer>

        
    </body>
</html>
