<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="../CSS/styles.css">
</head>

<body>
    <header>
        <div class="user-actions">
            <a>EmpRoster</a>
        </div>
    </header>

    <main>
        <section class="Login">
            <form action="" method=""> <!-- Updated action to /logout -->

                <div class="Logout">
                    <h1>Project Creation Failed.</h1><br>
                    <h3>Insufficient Manpower Available!</h3><br>
                    <h3>Please Resubmit Project Details</h3>
                </div>

                <div class="button-container">
                    <button type="button" class="submit-btn" name="choice" value="no" onclick="window.location.href='/CompanyAdmin/projectcreate'">Back To Project Create</button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>
